ADK_MODEL=gemini-2.5-flash
AGENT_WORKSPACE_ROOT=D:/Ker/Desktop/Document/other/GUI_test
PLAYWRIGHT_CLI_BIN=playwright-cli
DEFAULT_CREDENTIALS_FILE=D:/Ker/Desktop/Document/other/GUI_test/adk_playwright_agent/passwords.txt
